body{
    font-family: 'Bebas Neue', cursive;
    margin: 0;

}
h1{
    font-size: 72px;
}
.orange-color{
    color: forestgreen;
}
.flexible{
    display: flex;
    margin: auto;
}
.one{
    width: 50%;
    padding: 5%;
}
.one img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    font-weight: 700;
    padding: 10px 40px;
    color: white;
    border-radius: 5px;
}
.top-banner{
    background-image: url(top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.para-2{
    padding-right: 15px;
}
.two{
    padding-right: 150px;
}
.experience-item{
    box-shadow: 10px 10px 40px gray;
    margin: 5%;
    padding: 30px;
    width: 40%;
    border-radius: 5px;
    border-left: 6px solid blue;
}
.experience-area{
    background-image: url(exp-bg.png);
    background-repeat: no-repeat;
    background-position: top-left;
}
#baby-web-developer{
    border-left: 6px solid red;
}
footer p{
    text-align: center;
    text-decoration: gainsboro;
}